
body{
	font-family:sans-serif;

}

.background{
	background-image:linear-gradient(#00fa,#00fa),url('assets/office.jpeg');
	width:100%;
	height:100vh;
	display:flex;
	align-items:center;
	background-position:30%;
}

.container{
	min-width:300px;
	margin:auto;
	vertical-align:bottom;
	width:80%;
	max-width:50vmin;
}

p{
	margin: 0 auto;
}

.logo{
	content: url('assets/logo.png');
	width:100%;
	margin-bottom:-15px;
}	

hr{
	background-color:white;
	height:0;
}

.title{
	text-align: center;
	color:white;
	font-weight:bold;
}


.userBox, .passwordBox{
	background-color:#eee;
	width:100%;
	height:3rem;
	padding-top:0.6rem;
	border-radius:0.3rem;
	margin: 1rem 0;
	
	}

.userTitle, .userName, .passwordTitle, .password{
	margin-left: .5rem;
}

.userTitle, .passwordTitle{
	color:gray
}
.userName, .password{
	background-color:transparent;
	color:black;
	border:none;
	width: 95%;
}

.userName:focus, .password:focus{
	outline: none;
}

.login{
	background-color:#02f;
	width:100%;
	height:2.5rem;
	border-radius:6px;
	color:white;
	font-weight:bold;
	border:solid 1.5px white;
}
.login:active{border:solid 2px #0af}



